.city {
	cursor: default;
	margin-top: 0.2rem;
	padding: 0.2rem 0.75rem;
}

.city:hover {
	background-color: lightgrey;
}

.city:hover:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
