.city {
	font-size: 1.6rem;
	font-weight: 400;
	padding: 0.5em;
	cursor: default;
}

.city:hover {
	background-color: lightblue;
}

.city:hover:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
