:root {
	--clr-text-color: rgb(124, 120, 120);
}

.weather__current {
	display: flex;
	flex-direction: column;
	grid-column: 1;
	grid-row: 1 / 1;
	gap: 0.5em;
	padding: 1em;
	align-items: center;
	justify-content: center;
}

.weather__current h2 {
	font-size: 1rem;
	text-transform: capitalize;
}

.date {
	font-size: 0.7rem;
	color: var(--clr-text-color);
}

.temperature {
	display: flex;
	gap: 0.75em;
	justify-content: center;
	align-items: center;
}

.temperature img {
	width: 75px;
	height: 75px;
}

.temperature span {
	font-size: 1.1rem;
	font-weight: 700;
	color: #000;
}

.temperature span sup {
	font-weight: 700;
	font-size: 0.75rem;
	color: inherit;
}

.info_container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
}

.more_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.more_info h4 {
	color: var(--clr-text-color);
	font-weight: 700;
	font-size: 0.85rem;
}

.more_info h3 {
	color: #000;
	font-size: 0.85rem;
}
