.container {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 1rem;
	transition: background-color ease 200ms;
}

.container:hover {
	background-color: hsl(195, 86%, 67%);
}

.isSelected {
	background-color: hsl(195, 86%, 67%);
}

.container h4 {
	font-weight: 700;
	pointer-events: none;
}

.container h5 {
	font-weight: 400;
	pointer-events: none;
}

img {
	width: 75px;
	height: 75px;
	pointer-events: none;
}

span {
	font-weight: 400;
	pointer-events: none;
}
