:root {
	--clr-white: #fff;
	--clr-dark-grey: hsl(0, 1%, 45%);
	--clr-light-grey: hsl(0, 8%, 79%);
}

.container {
	width: 30%;
	position: absolute;
	top: 10%;
	background: var(--clr-white);
}

.search {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 0.2rem 0.5rem;
}

.search input[type="text"] {
	width: 90%;
	border: none;
	padding: 0.5rem;
	height: 2rem;
	outline: none;
	color: var(--clr-dark-grey);
}

.break {
	width: 0.1625rem;
	height: 1.5rem;
	align-self: center;
	background-color: var(--clr-dark-grey);
}

.search_icon {
	width: 1rem;
	height: 2rem;
	text-align: center;
	color: var(--clr-dark-grey);
	margin-left: 0.5em;
	cursor: pointer;
}

.clear_icon {
	width: 1rem;
	height: 2rem;
	text-align: center;
	color: var(--clr-dark-grey);
	margin-right: 0.5em;
	cursor: pointer;
}
