:root {
	--clr-primary: hsl(240, 14%, 29%);
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	line-height: 1.6rem;
	font-family: "Poppins", sans-serif;
	background: var(--clr-primary);
}
